div(ng-controller='postboxCtrl')

  h1 Bild hochladen
  label.btn.btn-primary(for='image-upload')
    input#image-upload(type='file' style='display:none;' accept="image/*")
    | Foto erstellen und hochladen
  h1 Nachricht an Zentrale
